#loginButton {
-fx-background-color: lightskyblue;
}

#registerButton {
-fx-background-color: lightgreen;
}

.correctField{
-fx-background-color: lightgreen;
}

.wrongField{
-fx-background-color: lightpink;
}